.container{
  max-width: 1220px;
  margin: 0 auto;
}
.App{
  max-width: 100%;
}
.header{
  position: relative;
  max-width: 100%;
}
.header_bg{
  width: 100%;
  min-height: 420px;
}
.header_wrapper{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(6, 6, 6, 0.7);
}
/*Header_info_row*/
.header_info_row{
  user-select: none;
  justify-content: center;
  display: flex;
  height: 100%;
  max-width: 1220px;
  margin: 0 auto;
}
.header_info_row_block{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  color: #9B9B9B;
  padding: 0 23px;
  gap: 20px;
}
.header_info_row_block:hover{
  background: rgba(13, 13, 13, 0.6);
  color: white;
}
.header_info_row_block_colum{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.header_info_row_block_title{
  font-size: 22px;
  text-transform: uppercase;
}
.header_info_row_block_text{
  font-size: 12px;
  margin: 0 auto;
  max-width: 260px;
}
.header_info_row_block_subtext{
  font-size: 12px;
  text-decoration: underline;
  cursor: pointer;
}
/*Header_top_row*/
.header_top_row{
  padding: 17px 0;
  width: 100%;
  position: absolute;
  margin: 0 auto;
  max-width: 1200px;
  text-align: center;
}
.header_top_row_row{
  user-select: none;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.header_top_row_cost_row{
  display: flex;
  gap: 6px;
}
/*body*/
.body{
  padding-top: 24px;
  user-select: none;
}
.body_block{
  max-width: 100%;
  padding-bottom: 202px;
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
}
.body_row{
  display: flex;
  justify-content: space-between;
  margin-bottom: 18px;
}
.body_row_block{
  display: flex;
  background: #F7F7F7;
  border-radius: 4px;
  align-items: center;
  box-shadow: 0px 1px 2px 0px #61616133 inset;
  box-shadow: 0px 2px 4px 0px #6161611A inset;
  max-height: 36px;
  padding: 0 4px;
}
.body_row_block_btn{
  font-size: 14px;
  padding: 5px 12px;
}
.body_row_block_btn:hover{
  cursor: pointer;
  background: white;
  box-shadow: 0px 1px 2px 0px #61616133;
  box-shadow: 0px 2px 4px 0px #61616133;
}
.body_row_row{
  display: flex;
  gap: 29px;
}
.icon{
  max-width: 60px;
  text-align: center;
}
.icon:hover{

  user-select: none;
  color: black;
  cursor: pointer;
}
.icon_text {
  font-size: 12px;
  color: #AFB6C4;
  text-align: center;
}
/*body_block_colum_row*/
.body_block_item{
  width: 32%;
  margin-bottom: 60px;
}
.body_block_item_img{
  width: 100%;
}
.body_block_item_title{
  text-decoration: none;
  color:black;
  cursor: pointer;
  font-size: 22px;
}
.body_block_item_subtitle{
  font-size: 14px;
  color: #9D9D9D;
}
.body_block_item_sale{
  font-size: 18px;
  color: #3A3A3A;
}
.body_block_item_rent{
  font-size: 18px;
  color: #3A3A3A;
}
.phone{
  position: relative;
  bottom: 117px;
  text-align: center;
  border-radius: 50%;
  background: linear-gradient(222.58deg, #0010A4 18.58%, #005BD6 51.02%, #0087F3 85.68%);
  width: 54px;
  height: 54px;
  opacity: 0.5;
}
.phone_wrapper{
  display: flex;
  justify-content: flex-end;
  max-width: 1400px;
  margin: 0 auto;
}
.phone:hover{
  cursor: pointer;
  opacity: 1;
}
.phone img{
  margin-top: 11px;
}
.header_info_row_mobil{
  max-width: 100%;
  display: none;
  user-select: none;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}
.header_info_row_mobil_idk{
  height: 100%;
  display: none;
  justify-content: space-between;
  text-align: center;
}
.header_info_row_mobil_block{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.header_info_row_mobil_row{
  user-select: none;
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
  font-size: 0.5px;
}
.button{
  margin: 2px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  cursor: pointer;
  color: #bebebe;
  background: #bebebe;
}
.button:hover{
  margin: 0;
  width: 6px;
  height: 6px;
  background: #FFFFFF;
}
.filter_btn_row{
  display: flex;
  justify-content: space-between;
  margin-bottom: 33px;
}
.body_row_adoptive{
  display: none;
}
.mini_row{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 0 10px;
}
.filter_btn{
  padding: 9px 17px;
  display: flex;
  gap: 12px;
  border-radius: 4px;
  border: 1px solid #AFB6C4;
  max-width: 100px;
}
.body_row_gow_btn{
  position: absolute;
  cursor: pointer;
}
.left{
  left: 0;
}
.right{
  right: 0;
}
.row{
  color: white;
  text-align: center;
}
.row_center{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.row_row{
  max-height: 200px;
  margin:  auto;
  height: 100%;
  max-width: 1200px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.row_row_title{
  font-size: 22px;
}
.row_row_text{
  max-width: 263px;
  margin: 0 auto;
  font-size: 12px;
}
.row_row_link{
  text-decoration: underline;
  cursor: pointer;
}
.body_row_gow{
  margin-bottom: 26px;
}
.dkdslfk{
  display: flex;
  justify-content: center;
}
.body_block_item_row{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.body_block_item_row_block{
  display: flex;
}
.colum{
  display: flex;
  flex-direction: column;
}
.body_block_item_row_block_row{
  gap: 6px;
}
@media screen and (max-width:1220px){
  .body_block_item_wrapper{
    padding: 10px 20px;
  }
  .body_block_item_img{
    width: 100%;
  }
  .body_block_item{
    width: 100%;
  }
  .header_info_row_mobil_idk{
    display: flex;
  }
  .header_info_row_mobil_slider{
    display: block;
  }
  .body_block_colum_row_block_row{
    margin-bottom: 65px;
  }
  .body_row_adoptive{
    display: block;
    max-width: 98%;
    margin: 0 auto;
  }
  .icon_h{
    display: none;
  }
  .header_bg{
    background: no-repeat center/cover url("./src/header_bg.png");
  }
  .header_info_row_block{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0 auto;
    color: white;
  }
  .header_info_row_block:hover{
    background: 0;
  }
  .header_info_row_mobil{
    width: 100%;
    display: flex
  }
  .body_block_colum_row_block{
    width: 100%;
  }
  .header_info_row{
    display: none;
  }
  .body_block{
    display: flex;
    justify-content: center;
  }
  .body_block_colum{
    width: 100%;
  }
  .body_block_colum_row{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .body_block_colum_row_block{
    margin: 0 auto;
  }
  .body_row{
    display: none;
  }
}